@font-face {
    font-family: handwriting;
    src: url(../font/circhand.ttf) format("truetype");
}

html, body {
    background: #212121;
    background: red;
}

body {
    height: 100%;
    font-family: handwriting;
    color: #dadada;
    font-size: 200%;
}

#global-wrapper {
    width: 100%;
    max-width: 1024px;
    background: #212121;
    margin: auto;
    position: relative;
}

h1 {
    font-size: 200%;
}
.text-intro {
    padding: 5em 3em;
    max-width: 300px;
    -webkit-transition: all 1s ease-in-out;
    opacity: 0;
}

#intro .text-intro {
    opacity: 1;
}

.picture-wrapper {
    cursor: pointer;
    background: #DADADA;
    border-radius: 4px 4px 1px 1px;
    padding: 8px;
    padding-bottom: 26px;
    position: absolute;
    width: 200px;
    height: 200px;
    -webkit-transition: all 0.7s ease-in-out;
    box-shadow: 3px 3px 20px black;
    /*-webkit-transition: box-shadow 0.3s ease-in-out;*/
}
.picture-wrapper:hover {
    box-shadow: 0px 0px 20px #7df9ff;
}
.collection-centerer {
    width: 0;
    position: absolute;
    left: 50%;
    top:30%;
}

.picture-collection-container {
    position: relative;
    left:-100px;
    top:  0px;
    -webkit-transition: all 0.7s ease-out;
}

.picture-collection-container.hidden-start {
    top: -500px; 
}


/* rotations */
.picture-wrapper.picture-1 {
    -webkit-transform: rotate(5deg);
    top: -4px;
    left: -14px;
}
.picture-wrapper.picture-2 {
    -webkit-transform: rotate(-9deg);
    top: 0px;
    left: 5px;
}
.picture-wrapper.picture-3 {
    -webkit-transform: rotate(2deg);
    top: -1px;
}
.picture-wrapper.picture-4 {
    -webkit-transform: rotate(0deg);
    top: 1px;
    left: 1px;
}

.spread-4 .picture-wrapper {
    -webkit-transform: rotate(0deg);
    top:0px;
    left:0px;
}

.spread-4 .picture-1 {
    left: -115px;
}
.spread-4 .picture-2 {
    left: 115px;
}
.spread-4 .picture-3 {
    left: -345px;
}
.spread-4 .picture-4 {
    left: 345px;
}
